{{define "GameEnd"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/gameend.css">
    <title>CyberPuissance 4</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><p>Accueil</p></a>
            <a href="/gameinit"><p>Jouer</p></a>
            <img src="/static/img/Logo.png" alt="Logo CyberPuissance4">
            <a href="/scores"><p>Scores</p></a>
            <a href="/profile"><p>Profil</p></a>
        </nav>
    </header>

    <main>
        <article>
            <h1>Résultat de la partie</h1>
            <h2>Victoire de {{.PlayerWinner}} !</h2>
            <h3>Joueur 1 : {{.Player1Name}} — Couleur: {{if eq .Player1Sym "X"}}<span style="color: #ff00ff;">●</span> Magenta{{else}}<span style="color: #0ff;">●</span> Cyan{{end}}</h3>
            <h3>Joueur 2 : {{.Player2Name}} — Couleur: {{if eq .Player2Sym "X"}}<span style="color: #ff00ff;">●</span> Magenta{{else}}<span style="color: #0ff;">●</span> Cyan{{end}}</h3>
            
            <div class="buttons">
                <a href="/"><button>ACCUEIL</button></a>
                <a href="/gameinit"><button>RECOMMENCER</button></a>
            </div>
        </article>
    </main>

    <footer>
        <p>&copy; 2025 Chill Games. Tous droits réservés.</p>
    </footer>
</body>
</html>
{{end}}