{{define "gameplay"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/gameplay.css">
    <title>CyberPuissance 4</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><p>Accueil</p></a>
            <a href="/gameinit"><p>Jouer</p></a>
            <img src="/static/img/Logo.png" alt="Logo CyberPuissance4">
            <a href="/scores"><p>Scores</p></a>
            <a href="/profile"><p>Profil</p></a>
        </nav>
    </header>

    <main>
        <section class="info">
            <h2>Tour du symbole {{.Playerturn}}</h2>
            <h3>Joueur 1 : {{.Player1Name}} — Symbole: {{.Player1Sym}}</h3>
            <h3>Joueur 2 : {{.Player2Name}} — Symbole: {{.Player2Sym}}</h3>
        </section>
        
        <section class="gameboard">
            {{range .Gameboard}}
                <div class="row">
                    {{range .}}
                        {{if eq . ""}}
                            <div class="void">&nbsp;</div>
                        {{end}}
                        {{if eq . "O"}}
                            <div class="o">&nbsp;</div>
                        {{end}}
                        {{if eq . "X"}}
                            <div class="x">&nbsp;</div>
                        {{end}}
                    {{end}}
                </div>
            {{end}}
            <div class="row">
                <div class="cell_info clickable" data-column="1">1</div>
                <div class="cell_info clickable" data-column="2">2</div>
                <div class="cell_info clickable" data-column="3">3</div>
                <div class="cell_info clickable" data-column="4">4</div>
                <div class="cell_info clickable" data-column="5">5</div>
                <div class="cell_info clickable" data-column="6">6</div>
                <div class="cell_info clickable" data-column="7">7</div>
            </div>
        </section>

        <section>
            <form id="gameForm" class="Action" action="/gameplay" method="post">
                <label for="colonne">Choisissez une colonne (1 à 7) :</label>
                <input type="text" id="colonne" name="colonne" required>
                <button type="submit" class="btn-start">Tour suivant</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Chill Games. Tous droits réservés.</p>
    </footer>

    <script src="..\js\gameplay.js"></script>
</body>
</html>
{{end}}