{{define "ScoreBoard"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/scoreboard.css">
    <title>CyberPuissance 4</title>
</head>

<body>

    <header>
        <nav>
            <a href="/"><p>Accueil</p></a>
            <a href="/gameinit"><p>Jouer</p></a>
            <img src="/static/img/Logo.png" alt="Logo CyberPuissance4">
            <a href="/ScoreBoard"><p>Scores</p></a>
            <a href="/profile"><p>Profil</p></a>
        </nav>
    </header>

    <main>

        <article class=top>
            <h1>Tableau des Scores</h1>
            {{range .}}
                <p>{{.Name}}: {{.Score}} victoires</p>
            {{end}}
        </article>
        
        <article class="bottom">
            <h1>A votre tour de jouer !</h1>
            <a href="/gameinit"><button>Commencer a jouer</button></a>
        </article>
        
    </main>

    <footer>
        <p>2024 Chill Games. Tous droits reserves.</p>
    </footer>

</body>
</html>
{{end}}