@font-face {
    font-family: "neon-glow";
    src: url("/static/police/NeonGlow.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* === RESET TOTAL === */
* {
    margin: 0;
    padding: 0;
    font-family: "neon-glow";
    box-sizing: border-box;
    text-decoration: none;

}

body{
    background-color: #4b4b4b;
}

/* === HEADER === */

header{
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0 15px #0ff, 0 0 25px #ff00ff;
    animation: glow 3s infinite alternate;
    height: 90px ;
}

nav{
    background-color: #222;
    display: flex;
    justify-content: space-evenly;
       
}

nav *{
    font-size: 150%;
    color: #277f89;
    margin-top: 10px;
    border-radius: 5%;
    height: 10vh;
    width: auto;
}

/* === FORME DU PANNEAU === */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panneau {
    margin-top: 300px;
    margin-bottom: 300px;
    background: rgba(10, 10, 30, 0.9);
    border: 2px solid #0ff;
    border-radius: 15px;
    padding: 2rem 3rem;
    box-shadow: 0 0 20px #0ff, inset 0 0 10px #0ff;
    animation: glow 3s infinite alternate;
}

.panneau-pseudo {
    background: #353535;
    padding: 30px 40px;
    border-radius: 12px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 800px;
    justify-content: center;
}

@keyframes glow {
    from { box-shadow: 0 0 15px #0ff, inset 0 0 5px #0ff; }
    to { box-shadow: 0 0 25px #ff00ff, inset 0 0 15px #ff00ff; }
}

.panneau h2 {
    margin: 20px;
    font-size: 1.8rem;
    color: #0ff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #ff00ff;
}

/* === FORME === */
.form-group {
    margin: 20px;
    text-align: left;
}

label {
    display: block;
    margin: 20px;
    color: #fff;
    text-shadow: 0 0 5px #0ff;
}

input {
    width: 100%;
    padding: 0.7rem;
    border: 2px solid #0ff;
    border-radius: 8px;
    background: #111;
    color: #0ff;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 0 10px #0ff;
    transition: 0.3s;
}

input:focus {
    border-color: #ff00ff;
    box-shadow: 0 0 15px #ff00ff;
}

/* === BOUTTON === */
.btn-start {
    margin: 20px;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #0ff, #ff00ff);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 15px #0ff, 0 0 25px #ff00ff;
    transition: transform 0.2s, box-shadow 0.3s;
    margin-left: 115px;
}
.btn-start:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px #ff00ff, 0 0 35px #0ff;
}

/* === FOOTER === */

footer{
    background-color: #222;
    color: #277f89;
    border: 1px solid #277f89;
    height: 2vh;
}