@font-face {
    font-family: "neon-glow";
    src: url("/static/police/NeonGlow.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* === RESET TOTAL === */
* {
    margin: 0;
    padding: 0;
    font-family: "neon-glow";
    box-sizing: border-box;
    text-decoration: none;

}

body{
    background-color: #4b4b4b;
}

/* === HEADER === */

header{
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0 15px #0ff, 0 0 25px #ff00ff;
    animation: glow 3s infinite alternate;
    height: 90px ;
}

nav{
    background-color: #222;
    display: flex;
    justify-content: space-evenly;
       
}

nav *{
    font-size: 150%;
    color: #277f89;
    margin-top: 10px;
    border-radius: 5%;
    height: 10vh;
    width: auto;
}


/* === BOUTTON === */
.btn-start {
    margin: 20px;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #0ff, #ff00ff);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 15px #0ff, 0 0 25px #ff00ff;
    transition: transform 0.2s, box-shadow 0.3s;
    margin-left: 115px;
}
.btn-start:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px #ff00ff, 0 0 35px #0ff;
}
/* === INFO === */
.info{
    background-color: #222;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 110px;
    box-shadow: 0 0 15px #0ff, 0 0 25px #ff00ff;
    animation: glow 3s infinite alternate;
}
.info h2{
    color: #ff00ff;
}
.info h3{
    color: #277f89;
}

/* === AFFICHAGE JEU === */

.gameboard{
    background-color: #222;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.gameboard .row{
    background-color: #222;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom : 10px;
    justify-content: space-around;
}

.gameboard .row .void{
    background-color: #000000;
    min-height: 60px;
    min-width: 60px;
    border-radius: 100px;
}

.gameboard .row .o{
    background-color: #0ff;
    min-height: 60px;
    min-width: 60px;
    border-radius: 100px;
}

.gameboard .row .x{
    background-color: #ff00ff;
    min-height: 60px;
    min-width: 60px;
    border-radius: 100px;
}

.gameboard .row .cell_info{
    background-color: #61104b;
    min-height: 60px;
    min-width: 60px;
    border-radius: 100px;
    color: #0ff;
    text-align: center;
    font-size: x-large;
    padding-top: 15px;
}
/* === PLAY ZONE === */

.Action{
    background-color: #222;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 10px;
    margin-top: 90px;
    box-shadow: 0 0 15px #0ff, 0 0 25px #ff00ff;
    animation: glow 3s infinite alternate;
    margin-bottom: 25px;
}
.Action label{
    align-items: baseline;
    padding-top: 30px;
    color: #277f89;
    font-size: x-large;
}

.Action input{
    align-items: baseline;
    padding-top: 10px;
    color: #277f89;
    font-size: x-large;
    background-color: #4b4b4b;
}


/* === FOOTER === */

footer{
    background-color: #222;
    color: #277f89;
    
    border: 1px solid #277f89;
    height: 2vh;
}